$primary-color: #0052CC;
$hover-color: #0063FF;
$nav-text-color: #344563;
$day-text-color: #172B4D;
$day-selected-text-color: #42526E;
$day-bg-color: #DEEBFF;
$logged-hour-bg-color: #B3D4FF;
$logged-hour-bg-row-color: #E9F2FF;
$label-color: #6B778C;
$border-color: #ebecf0;
$border-hover-color: #4C9AFF;
$inactive-cell-bg: #F4F5F7;